/* 01 */
.home_block{margin-top:5px;}

.home_block_title{
    .h2{position:relative;padding-left:30px;font-size:16px;line-height:32px;color:#484848;
        .i{position:absolute;left:5px;top:50%;margin-top:-10px;}
    }
}

.home_block_content{margin-top:5px;}

.home_block_footer{border:1px solid #ADADAD;border-width:1px 0;background:#EAEAEA;
    .show_more{display:block;position:relative;padding:0 30px;height:45px;line-height:45px;text-align:center;font-size:15px;color:#484848;
        .i{position:absolute;right:15px;top:50%;border-width:1px 1px 0 0;}
    }
}

.croll_slider{position:relative;}
.slider{height:167px;
    ul{overflow:hidden;position:relative;}
    li{position:absolute;}
}
.slider_pages{position: absolute;bottom:.2rem;margin:0 auto;width:100%;text-align: center;
    i{font-size:0px;opacity:.5;cursor: pointer; font-style:normal;background:#FFF;color:#FFF;font-size: 0;height: 7px;width: 7px;border-radius:  4px;overflow: hidden;margin-left: 10px;display: inline-block;background-clip:padding-box;}
    i.current{opacity:1;}
}

.subject_list{font-size:0;padding:0 1%;
    .subject{float:left;margin:0 1% 10px;width:48%;}
}

.player_list{font-size:0;
    .player{float:left;margin:0 1% 10px;width:31%;}
}

.club_list{font-size:0;padding:0 1%;
    .club{float:left;margin:0 1% 10px;width:31%;}
}

.activity_list{font-size:0;padding:0 2px;
    .activity{float:left;margin:0 1% 10px;width:48%;}
}

.label_list{font-size:0;
    .label{float:left;margin:0 1% 10px;width:31%;}
}

/* 01-02 */
.player_brand_list{
    .player_brand{padding:10px 5px;border-bottom:1px solid #ADADAD;}
}

/* 02-01  02-02 */
.subject_page_navs{position:absolute;left:0;right:0;bottom:0;background:rgba(0,0,0,.3);
    .nav{height:51px;padding-bottom:2px;
        &.active{padding-bottom:0;border-bottom:2px solid #FFD800;}

        .h4{font-size:16px;color:#FFF;}
        .des{font-size:14px;color:#FFF;}
    }
}

.activity_brand_list{}

.brand_list_tabs{text-align:center;
    .tab{line-height:32px;color:#484848;margin:0 5px;
        &.active{color:#000;border-bottom:1px solid #000;}
    }
}

/* 03 */
.activity_page_brand{height:180px;
    .activity_card{position:absolute;top:30px;left:20px;right:20px;
        .title{font-size:24px;color:#FFF;}
        .description{font-size:12px;color:#FFF;}
    }
}

.activity_page_navs{position:relative;
    .page_navs_wrap{position:absolute;width:100%;left:0;bottom:0;background:rgba(0,0,0,.3);}
    .nav{height:42px;padding-bottom:2px;color:#FFF;font-size:16px;
        &.active{padding-bottom:0;border-bottom:2px solid #FFD800;}
    }
}


.activity_page{background:#f0f0f2;}

.activity_block{padding-top:10px;}

.activity_block_title{
    .h2{position:relative;padding-left:35px;font-size:16px;line-height:32px;color:#484848;
        .i{position:absolute;left:10px;top:50%;margin-top:-10px;}
    }
}

.activity_block_content{}

.activity_detail{margin:0 10px;}

.activity_detail_special,.activity_detail_intro,.activity_detail_host,.activity_detail_time{padding:10px;border:1px solid #CCC;background:#FFF;font-size:12px;color:#484848;}
.activity_detail_price,.activity_detail_notice,.activity_detail_advice{
    .inf{padding:10px;border:1px solid #CCC;background:#FFF;
        & + .inf{border-top:0;}
        .h4{font-size:16px;color:#000;}
        p{font-size:12px;color:#484848;}
        .fense{font-size:16px;color:#FFD800;}
    }
}

.activity_detail_host{padding-left:80px;padding-right:30px;position:relative;min-height:60px;
    .avat{width:60px;height:60px;position:absolute;left:10px;top:10px;
        .img{border:1px solid #8B8688;}
    }
    .i{position:absolute;right:15px;top:50%;border-width:1px 1px 0 0;}
    .title{font-size:16px;color:#484848;margin-top:10px;}
    .desc{font-size:12px;color:#868686;}
}

.activity_detail_advice{
    .h3{font-size:16px;color:#484848;}
    .inf{position:relative;padding-left:80px;min-height:60px;
        .photo{position:absolute;width:60px;height:60px;top:10px;left:10px;}
        .bordered{border:1px solid #484848;}
    }
    .inf + .h3{margin-top:10px;}
}


.activity_detail_rich{
    .pic{margin:10px 0;}
    .text{margin:10px 0;
        p{line-height:24px;color:#484848;font-size:15px;}
        a{color:#003FA8;}
    }
    & > :first-child{margin-top:0;}

}

.activity_detail_coach_list{font-size:0;margin:0;text-align:center;
    .coach{float:left;margin:0 1% 10px;width:31%;text-align:center;}
}

.sign_to_activiey{height:50px;
    .wrap{position:fixed;z-index:99;left:0;bottom:0;width:100%;height:50px;background:#000;}
    .info{float:left;margin:14px;color:#FFF;font-size:12px;
        .fense{font-size:16px;color:#FFD800;}
    }
    .opt{float:right;margin:9px 15px;
        .btn{display:block;height:32px;line-height:32px;text-align:center;color:#FFF;font-size:16px;padding:0 15px;background:#0B7900;border-radius:3px;}
        .i{margin-right:3px;}
    }

}

/* 05 */
.player_page_brand2{height:245px;
    .edit{position:absolute;z-index:9;top:10px;right:10px;}
}
.player_card2{text-align:center;left:20px;right:20px;top:25px;padding:110px 0 0 0;
    .avat{top:0;left:50%;margin-left:-50px;
        .img{border:0;}
    }
    .uname{font-size:16px;margin-bottom:5px;}
    .sign{font-size:12px;line-height:1.5;}
}

.subject_brand_list_title{
    .h2{height:49px;line-height:49px;font-size:20px;color:#484848;text-align:center;}
}

.subject_brand_list_title_gray{background:#E5E5E5;}

.dream_list_opts{height:42px;
    .dream_list_opts_wrap{text-align:center;padding:5px;position:fixed;z-index:99;bottom:0;left:0;right:0;background:#FFF;}
    .opt{display:inline-block;vertical-align:middle;margin:0 3px;}
    .btn{display:block;height:32px;line-height:32px;font-size:16px;color:#000;padding:0 10px;border-radius:3px;background:#FFD800;
        .i{margin-right:3px;}
    }
}

.dream_list_helpers{padding:5px 15px;}

.dream_list_helper{position:relative;margin:5px 0;padding-left:60px;min-height:50px;
    .avat{position:absolute;width:50px;height:50px;top:0;left:0;
        .img{border-radius:5px;overflow:hidden;}
    }
    .info{font-size:16px;color:#484848;padding-top:5px;}
    .desc{font-size:16px;color:#484848;}
}

.dream_list_helper_total{height:90px;
    .dream_list_helper_total_wrap{text-align:center;padding:10px;position:fixed;z-index:99;bottom:0;left:0;right:0;background:#E5E5E5;}
    .help_total{font-size:16px;color:#484848;}
    .plus,.minus{font-size:20px;}
    .opts{padding-top:10px;}
    .opt{display:inline-block;vertical-align:middle;margin:0 3px;}
    .btn{display:block;height:32px;line-height:32px;font-size:16px;padding:0 20px;border-radius:3px;
    }
    .btn_help{background:#2895DC;color:#FFF;}
    .btn_join{background:#FFD800;color:#000;}
}

/* 06 */
.dream_settings{
    .setting{position:relative;display:block;padding:10px 20px;border-bottom:1px solid #CCC;
        .title{font-size:16px;color:#484848;padding-right:30px;line-height:30px;}
        .opt{position:absolute;right:20px;top:10px;height:30px;width:30px;text-align:center;background:#E1E1E1;border-radius:3px;
            .i{margin:0;}
        }
        &.active .opt{background:#FFD800;}
    }

    .dream_edit{padding:15px;
        .h3{font-size:16px;color:#484848;margin-bottom:5px;}
        .edit_cnt{}
        .choice{display:inline-block;vertical-align:middle;margin:0 3px 3px 0;font-size:14px;width:22%;height:32px;line-height:32px;text-align:center;background:#FFF;color:#000;border:1px solid #CCC;
            &.active{color:#484848;background:#FFD800;border-color:#FFD800;}
        }
        .sign_text{padding-right:12px;
            textarea{display:block;width:100%;height:80px;padding:5px;border:1px solid #CCC;font-size:14px;color:#484848;resize:none;}
        }
    }


    .edit_cover_add{display:inline-block;vertical-align:middle;width:64px;height:64px;position:relative;
        .add{position:relative;height:62px;border:1px solid #CCC;background:#FFF;}
        .i{width:32px;height:32px;position:absolute;top:50%;left:50%;margin:-16px 0 0 -16px;}
    }


    .edit_cover{display:inline-block;vertical-align:middle;width:64px;height:64px;position:relative;
        .img{border-top:1px solid #FFF;border-right:1px solid #FFF;}
        .delete{position:absolute;top:1px;right:1px;z-index:9;background:#000;height:22px;width:22px;text-align:center;}
    }

}

.dream_settings_tip{margin:10px 0;text-align:center;font-size:12px;color:#484848;}

.dream_settings_opts{text-align:center;padding:5px;background:#FFF;position:fixed;bottom:0;width:100%;left:0;
    .opt{display:inline-block;vertical-align:middle;margin:0 3px;}
    .btn{display:block;height:32px;line-height:32px;font-size:16px;color:#000;padding:0 10px;border-radius:3px;background:#FFD800;
    }
}



.club_list_slider{
    .slider{height:266px;}
    .slider_pages{position:relative;bottom:0;
        i{background:#000;}
    }
}








