
.player_page_navs{border-bottom:1px solid #ADADAD;
    .nav{height:58px;padding-bottom:2px;
        &:nth-child(n+1){border-left:1px solid #ADADAD;}
        &.active{padding-bottom:0;border-bottom:2px solid #FFD800;}

        .h4{font-size:16px;color:#484848;}
        .des{font-size:16px;color:#B2B2B2;}
    }
}


.player_album_list{overflow:hidden;
    .album{width:33%;height:33%;float:left;}
    .album:nth-child(3n+1){width:34%;clear:left;margin-bottom:-10px;
        .img{border:1px solid #FFF;}
    }
}

.share_post{
    .title{padding:10px;}
    .user_card{float:left;position:relative;height:60px;line-height:60px;padding-left:70px;
        .avat{position:absolute;top:0;left:0;
            .img{width:60px;height:60px;}
        }
        .uname{font-size:16px;color:#003FA8;}
    }
    .time{float:right;position:relative;height:60px;line-height:60px;padding-left:20px;
        .i{position:absolute;top:50%;left:0;margin-top:-10px;}
        .stamp{font-size:15px;color:#B2B2B2;}
    }

    .cnt{
        .pic{margin:10px 0;}
        .text{margin:10px 0;padding:0 10px;
            p{line-height:24px;color:#484848;font-size:15px;}
            a{color:#003FA8;}
        }
        >:first-child{margin-top:0;}
    }

    .opts{text-align:center;padding-bottom:20px;
        .opt{display:inline-block;vertical-align:top;margin:0 5px;position:relative;padding-top:32px;width:60px;height:28px;border:1px solid #E4E4E4;border-radius:999px;
            .i{position:absolute;top:50%;left:50%;margin:-20px 0 0 -15px;}
            .count{font-size:15px;color:#B2B2B2;line-height:28px;}
        }
    }
}


.share_lay{position:fixed;top:0;right:0;bottom:0;left:0;z-index:999;display:none;
    .mask{position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.5);}
    .tip{position:absolute;top:10px;right:20px;background:url('@{burl}share_tip.png') no-repeat;width:60px;height:100%;.background-size(contain);}
}

































