/* ../../../../lib/com/_projectInfo/1.css */
#PROJECTINFO{name:"lady_v3";version:"test";update:"Sun Oct 11 2015 22:12:40 GMT+0800";}
/* /--- */

/* ../../../../lib/com/_reset_h5/1.css */
*{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:normal;}
ul,ol,li{list-style:none;}
em,i,b{font-style:normal;font-weight:normal;}
img{border:none;}
input,img,video{vertical-align:middle;}
input[type="text"],input[type="password"],input[type="button"],input[type="submit"],button,textarea{-webkit-appearance:none;border:0;outline:none;border-radius:0;}
a{text-decoration:none;}
body{min-width:320px;}
/* /--- */

/* other version
 * @import '../../../../lib/com/_reset_h5_app/1.css';
 * @import '../../../../lib/com/reset/necolas/normalize.css';
 */
html,
body {
  min-height: 100%;
}
html {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
.cfix:after {
  content: '';
  clear: both;
  display: table;
}
.i {
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.24em;
}
/* iArrow \9700\8981\4F7F\7528 absolute + top 50% \5B9A\4F4D */
.iA {
  border-style: solid;
  border-width: 2px 2px 0 0;
}
/* size */
.iA_middle {
  width: 12px;
  height: 12px;
  margin-top: -7px;
}
/* direction */
.iA_pass {
  width: 15px;
  height: 9px;
  -webkit-transform: rotate(130deg);
  -ms-transform: rotate(130deg);
  -o-transform: rotate(130deg);
  transform: rotate(130deg);
}
/*\5BF9\53F7*/
.iA_right {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* color */
.iA_gray {
  border-color: #828282;
}
.iA_white {
  border-color: #FFF;
}
.iA_black {
  border-color: #000;
}
/* iCross  */
.iC {
  position: relative;
}
.iC:before,
.iC:after {
  content: '';
  position: absolute;
}
.iC:before {
  width: 100%;
  height: 2px;
  margin-top: -1px;
  top: 50%;
  left: 0;
}
.iC:after {
  width: 2px;
  height: 100%;
  margin-left: -1px;
  top: 0;
  left: 50%;
}
/* size */
.iC_small {
  width: 14px;
  height: 14px;
}
.iC_middle {
  width: 20px;
  height: 20px;
}
/* direction */
.iC_close {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*\53C9\53F7*/
/* color */
.iC_black:before,
.iC_black:after {
  background: #000;
}
.iC_white:before,
.iC_white:after {
  background: #FFF;
}
.iC_gray:before,
.iC_gray:after {
  background: #CCC;
}
.iG {
  background: url("../../i/iG.png") 1000px no-repeat;
  -webkit-background-size: 100px auto;
  -ms-background-size: 100px auto;
  background-size: 100px auto;
}
.iG_star {
  width: 20px;
  height: 20px;
  background-position: 0 0;
}
.iG_clock {
  width: 20px;
  height: 20px;
  background-position: -20px 0;
}
.iG_detail {
  width: 20px;
  height: 20px;
  background-position: -40px 0;
}
.iG_plane {
  width: 20px;
  height: 20px;
  background-position: -60px 0;
}
.iG_players {
  width: 20px;
  height: 20px;
  background-position: -80px 0;
}
.iG_heart {
  width: 30px;
  height: 20px;
  background-position: 0 -20px;
}
.iG_message {
  width: 30px;
  height: 20px;
  background-position: -30px -20px;
}
.iG_repost {
  width: 30px;
  height: 20px;
  background-position: -60px -20px;
}
.iG_location {
  width: 20px;
  height: 20px;
  background-position: 0 -40px;
}
.iG_label {
  width: 20px;
  height: 20px;
  background-position: -20px -40px;
}
.iG_coach {
  width: 20px;
  height: 20px;
  background-position: -40px -40px;
}
.iG_fense {
  width: 20px;
  height: 20px;
  background-position: -60px -40px;
}
.iG_photo {
  width: 20px;
  height: 20px;
  background-position: -80px -40px;
}
.iG_notice {
  width: 20px;
  height: 20px;
  background-position: 0 -60px;
}
.iG_flag {
  width: 20px;
  height: 20px;
  background-position: -20px -60px;
}
.iG_share {
  width: 20px;
  height: 20px;
  background-position: -40px -60px;
}
.iG_building {
  width: 20px;
  height: 20px;
  background-position: -60px -60px;
}
.iG_rocket {
  width: 20px;
  height: 20px;
  background-position: -80px -60px;
}
.iG_phone {
  width: 20px;
  height: 30px;
  background-position: 0 -80px;
}
.iG_edit {
  width: 30px;
  height: 30px;
  background-position: -20px -80px;
}
.iG_more {
  width: 50px;
  height: 30px;
  background-position: -50px -80px;
}
.iG_time2 {
  width: 20px;
  height: 20px;
  background-position: 0 -110px;
}
.iG_what {
  width: 50px;
  height: 50px;
  background-position: 0 -130px;
}
.iG_wealth {
  width: 50px;
  height: 50px;
  background-position: -50px -130px;
}
a {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.img img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.round_img {
  overflow: hidden;
  border-radius: 999px;
}
.round_img img {
  border-radius: 999px;
}
.avat {
  position: relative;
}
.avat .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.text_overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plus {
  color: #1FA300;
}
.minus {
  color: #FF0000;
}
.download_app {
  height: 70px;
}
.download_app .wrap {
  position: fixed;
  z-index: 99;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #F6F6F6;
}
.download_app .logo {
  float: left;
  margin: 20px;
}
.download_app .logo .img {
  width: 136px;
  height: 32px;
  background: url("../../i/logo1.png");
  -webkit-background-size: 100%;
  -ms-background-size: 100%;
  background-size: 100%;
}
.download_app .opt {
  float: right;
  margin: 16px;
}
.download_app .opt .btn {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #000;
  font-size: 16px;
  padding: 0 15px;
  background: #FFD800;
  border-radius: 3px;
}
.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.cover .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 0;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
.album .img {
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
}
/* brand\5934\90E8 */
.page_brand {
  position: relative;
}
.player_card {
  position: absolute;
  top: 38px;
  left: 15px;
  padding: 30px 0 30px 120px;
}
.player_card .avat {
  position: absolute;
  top: 0;
  left: 0;
}
.player_card .avat .img {
  width: 100px;
  height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.player_card .uname {
  font-size: 20px;
  color: #FFF;
}
.player_card .sign {
  font-size: 16px;
  color: #FFF;
}
.player_page_brand {
  position: relative;
  height: 180px;
  background: #CCC;
}
.player_page_brand .follow {
  position: absolute;
  z-index: 9;
  top: 12px;
  right: 10px;
  width: 80px;
  height: 32px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  color: #FFF;
}
.player_page_brand .follow .i {
  margin-right: 5px;
}
.subject_card {
  position: absolute;
  top: 35px;
  left: 20px;
  height: 80px;
}
.subject_card .title {
  font-size: 20px;
  color: #FFF;
}
.subject_card .sub_title {
  font-size: 14px;
  color: #FFF;
  max-width: 140px;
}
.dreaming {
  width: 100px;
  height: 32px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  color: #FFF;
}
.dreaming .i {
  margin-right: 5px;
}
.subject_page_brand {
  position: relative;
  height: 185px;
  background: #CCC;
}
.subject_page_brand .dreaming {
  position: absolute;
  z-index: 9;
  top: 12px;
  right: 10px;
}
.subject_page_brand .dreaming .i {
  margin-right: 5px;
}
/* \53EF\5C55\5F00\7684\5BFC\822A\680F£¬\80FD expended \7C7B\540D\63A7\5236 */
.expand_navs {
  position: relative;
  z-index: 99;
  height: 40px;
}
.expand_navs_wrap {
  border-bottom: 1px solid #ADADAD;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFF;
}
.expand_navs_wrap.expended .nav:nth-child(n+6) {
  display: block;
}
.expand_navs .nav {
  float: left;
  text-align: center;
  width: 20%;
  padding-bottom: 2px;
  height: 38px;
  line-height: 40px;
  overflow: hidden;
}
.expand_navs .nav.active {
  padding-bottom: 0;
  border-bottom: 2px solid #FFD800;
}
.expand_navs .nav:nth-child(n+6) {
  display: none;
}
.expand_navs .nav .h4 {
  font-size: 16px;
  color: #484848;
}
/* \5E26brand\5934\90E8\7684page\7684\5BFC\822A\680F\7ED3\6784£¬\6C34\5E73\6392\5217 */
.page_navs {
  position: relative;
}
.page_navs_wrap {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.page_navs .nav {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 0%;
  -moz-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
/* \6DF7\5408\5217\8868\9875\4E2D\7528\6765\5C55\793A\7684\6837\5F0F */
.subject {
  display: block;
  position: relative;
  width: 155px;
  height: 80px;
}
.subject .cover {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.subject .cover:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.subject .card {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 10px;
  text-align: left;
}
.subject .card .title {
  font-size: 20px;
  color: #FFF;
}
.subject .card .sub_title {
  font-size: 14px;
  color: #FFF;
  max-width: 140px;
}
.player {
  display: block;
  position: relative;
  width: 100px;
  text-align: center;
}
.player .avat {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
}
.player .uname {
  font-size: 15px;
  color: #484848;
  margin-top: 3px;
}
.player .playing {
  font-size: 14px;
  color: #B2B2B2;
}
.club {
  display: block;
  position: relative;
  width: 100px;
  text-align: center;
}
.club .avat {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
}
.club .uname {
  font-size: 15px;
  color: #484848;
  margin-top: 3px;
}
.club .popular {
  font-size: 14px;
  color: #B2B2B2;
}
.activity {
  display: block;
  position: relative;
  width: 155px;
  height: 80px;
}
.activity .cover {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.activity .cover:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.activity .card {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.activity .card .title {
  padding: 0 10px;
  font-size: 16px;
  color: #FFF;
  text-align: center;
  line-height: 20px;
}
.activity .card .fense {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 14px;
  color: #FFF;
  max-width: 140px;
}
.label,
.coach {
  display: block;
  position: relative;
  width: 100px;
  text-align: center;
}
.label .avat,
.coach .avat {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
}
.label .title,
.coach .title {
  font-size: 15px;
  color: #484848;
  margin-top: 3px;
}
/* \5355\4E00\5217\8868\9875\4E2D\7528\6765\5C55\793A\7684\6837\5F0F */
.subject_brand {
  display: block;
  position: relative;
  height: 190px;
}
.subject_brand .iA {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 15px;
  border-width: 1px 1px 0 0;
}
.subject_brand .cover {
  overflow: hidden;
}
.subject_brand .cover:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.subject_brand .card {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.subject_brand .card .title {
  position: absolute;
  bottom: 60%;
  width: 100%;
  font-size: 24px;
  color: #FFF;
}
.subject_brand .card .cnt {
  position: absolute;
  top: 45%;
  width: 100%;
}
.subject_brand .card .sub_title {
  font-size: 12px;
  color: #FFF;
}
.subject_brand .card .opt {
  padding-top: 10px;
}
.subject_brand .card .dreaming {
  display: inline-block;
  vertical-align: middle;
  background: #000;
}
.subject_brand .card .dreaming .i {
  position: relative;
  top: 0;
  right: 0;
}
.subject_brand .card .dreaming.active {
  background: #FFD749;
  color: #000;
}
.subject_brand .card .dreaming.active .i {
  top: -1px;
}
.player_brand {
  display: block;
}
.player_brand .cover {
  overflow: hidden;
}
.player_brand .cover:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.player_brand .brand_head {
  margin-bottom: 10px;
}
.player_brand .user_card {
  float: left;
  padding: 10px 0 10px 70px;
  position: relative;
  height: 40px;
  margin-left: 5px;
}
.player_brand .avat {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}
.player_brand .uname {
  font-size: 16px;
  color: #484848;
}
.player_brand .info {
  font-size: 14px;
  color: #B2B2B2;
}
.player_brand .info .inf {
  display: inline-block;
  vertical-align: middle;
}
.player_brand .opts {
  float: right;
  margin: 10px;
}
.player_brand .opt {
  display: inline-block;
  vertical-align: middle;
}
.player_brand .add_like {
  display: block;
  text-align: center;
  width: 34px;
  height: 34px;
  border-radius: 999px;
  background: #E1E1E1;
}
.player_brand .add_like .i {
  margin-top: 10px;
}
.player_brand .add_like.active {
  background: #FFD800;
}
.player_brand .add_like.active .i {
  margin-top: 5px;
}
.player_brand .album {
  width: 25%;
  height: 25%;
  float: left;
}
.activity_brand {
  display: block;
  position: relative;
  height: 150px;
}
.activity_brand .iA {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 15px;
  border-width: 1px 1px 0 0;
}
.activity_brand .cover {
  overflow: hidden;
}
.activity_brand .cover:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.activity_brand .card {
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 20px;
  right: 50px;
}
.activity_brand .card .title {
  font-size: 18px;
  color: #FFF;
  line-height: 1.2;
}
.activity_brand .card .info {
  font-size: 14px;
  color: #FFF;
  margin-top: 5px;
}
.activity_brand .card .info .inf {
  display: inline-block;
  vertical-align: middle;
}
.activity_brand .card .info .tip {
  font-size: 12px;
  color: #000;
  background: #FFF;
  padding: 0 3px;
  border-radius: 3px;
  margin-left: 3px;
}
.club_brand {
  position: relative;
  padding-top: 40px;
}
.club_brand .club_owner {
  position: absolute;
  z-index: 9;
  left: 10px;
  top: 10px;
  padding-left: 70px;
  height: 60px;
}
.club_brand .club_owner .avat {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
}
.club_brand .club_owner .avat .img {
  border: 1px solid #FFF;
}
.club_brand .club_owner .uname {
  font-size: 16px;
  color: #105DB8;
  padding-top: 5px;
}
.player_page_navs {
  border-bottom: 1px solid #ADADAD;
}
.player_page_navs .nav {
  height: 58px;
  padding-bottom: 2px;
}
.player_page_navs .nav:nth-child(n+1) {
  border-left: 1px solid #ADADAD;
}
.player_page_navs .nav.active {
  padding-bottom: 0;
  border-bottom: 2px solid #FFD800;
}
.player_page_navs .nav .h4 {
  font-size: 16px;
  color: #484848;
}
.player_page_navs .nav .des {
  font-size: 16px;
  color: #B2B2B2;
}
.player_album_list {
  overflow: hidden;
}
.player_album_list .album {
  width: 33%;
  height: 33%;
  float: left;
}
.player_album_list .album:nth-child(3n+1) {
  width: 34%;
  clear: left;
  margin-bottom: -10px;
}
.player_album_list .album:nth-child(3n+1) .img {
  border: 1px solid #FFF;
}
.share_post .title {
  padding: 10px;
}
.share_post .user_card {
  float: left;
  position: relative;
  height: 60px;
  line-height: 60px;
  padding-left: 70px;
}
.share_post .user_card .avat {
  position: absolute;
  top: 0;
  left: 0;
}
.share_post .user_card .avat .img {
  width: 60px;
  height: 60px;
}
.share_post .user_card .uname {
  font-size: 16px;
  color: #003FA8;
}
.share_post .time {
  float: right;
  position: relative;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
}
.share_post .time .i {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
}
.share_post .time .stamp {
  font-size: 15px;
  color: #B2B2B2;
}
.share_post .cnt .pic {
  margin: 10px 0;
}
.share_post .cnt .text {
  margin: 10px 0;
  padding: 0 10px;
}
.share_post .cnt .text p {
  line-height: 24px;
  color: #484848;
  font-size: 15px;
}
.share_post .cnt .text a {
  color: #003FA8;
}
.share_post .cnt > :first-child {
  margin-top: 0;
}
.share_post .opts {
  text-align: center;
  padding-bottom: 20px;
}
.share_post .opts .opt {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  position: relative;
  padding-top: 32px;
  width: 60px;
  height: 28px;
  border: 1px solid #E4E4E4;
  border-radius: 999px;
}
.share_post .opts .opt .i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -15px;
}
.share_post .opts .opt .count {
  font-size: 15px;
  color: #B2B2B2;
  line-height: 28px;
}
.share_lay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: none;
}
.share_lay .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.share_lay .tip {
  position: absolute;
  top: 10px;
  right: 20px;
  background: url('../../i/share_tip.png') no-repeat;
  width: 60px;
  height: 100%;
  -webkit-background-size: contain;
  -ms-background-size: contain;
  background-size: contain;
}
/* 01 */
.home_block {
  margin-top: 5px;
}
.home_block_title .h2 {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  line-height: 32px;
  color: #484848;
}
.home_block_title .h2 .i {
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -10px;
}
.home_block_content {
  margin-top: 5px;
}
.home_block_footer {
  border: 1px solid #ADADAD;
  border-width: 1px 0;
  background: #EAEAEA;
}
.home_block_footer .show_more {
  display: block;
  position: relative;
  padding: 0 30px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 15px;
  color: #484848;
}
.home_block_footer .show_more .i {
  position: absolute;
  right: 15px;
  top: 50%;
  border-width: 1px 1px 0 0;
}
.croll_slider {
  position: relative;
}
.slider {
  height: 167px;
}
.slider ul {
  overflow: hidden;
  position: relative;
}
.slider li {
  position: absolute;
}
.slider_pages {
  position: absolute;
  bottom: .2rem;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.slider_pages i {
  font-size: 0px;
  opacity: .5;
  cursor: pointer;
  font-style: normal;
  background: #FFF;
  color: #FFF;
  font-size: 0;
  height: 7px;
  width: 7px;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 10px;
  display: inline-block;
  background-clip: padding-box;
}
.slider_pages i.current {
  opacity: 1;
}
.subject_list {
  font-size: 0;
  padding: 0 1%;
}
.subject_list .subject {
  float: left;
  margin: 0 1% 10px;
  width: 48%;
}
.player_list {
  font-size: 0;
}
.player_list .player {
  float: left;
  margin: 0 1% 10px;
  width: 31%;
}
.club_list {
  font-size: 0;
  padding: 0 1%;
}
.club_list .club {
  float: left;
  margin: 0 1% 10px;
  width: 31%;
}
.activity_list {
  font-size: 0;
  padding: 0 2px;
}
.activity_list .activity {
  float: left;
  margin: 0 1% 10px;
  width: 48%;
}
.label_list {
  font-size: 0;
}
.label_list .label {
  float: left;
  margin: 0 1% 10px;
  width: 31%;
}
/* 01-02 */
.player_brand_list .player_brand {
  padding: 10px 5px;
  border-bottom: 1px solid #ADADAD;
}
/* 02-01  02-02 */
.subject_page_navs {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.subject_page_navs .nav {
  height: 51px;
  padding-bottom: 2px;
}
.subject_page_navs .nav.active {
  padding-bottom: 0;
  border-bottom: 2px solid #FFD800;
}
.subject_page_navs .nav .h4 {
  font-size: 16px;
  color: #FFF;
}
.subject_page_navs .nav .des {
  font-size: 14px;
  color: #FFF;
}
.brand_list_tabs {
  text-align: center;
}
.brand_list_tabs .tab {
  line-height: 32px;
  color: #484848;
  margin: 0 5px;
}
.brand_list_tabs .tab.active {
  color: #000;
  border-bottom: 1px solid #000;
}
/* 03 */
.activity_page_brand {
  height: 180px;
}
.activity_page_brand .activity_card {
  position: absolute;
  top: 30px;
  left: 20px;
  right: 20px;
}
.activity_page_brand .activity_card .title {
  font-size: 24px;
  color: #FFF;
}
.activity_page_brand .activity_card .description {
  font-size: 12px;
  color: #FFF;
}
.activity_page_navs {
  position: relative;
}
.activity_page_navs .page_navs_wrap {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.activity_page_navs .nav {
  height: 42px;
  padding-bottom: 2px;
  color: #FFF;
  font-size: 16px;
}
.activity_page_navs .nav.active {
  padding-bottom: 0;
  border-bottom: 2px solid #FFD800;
}
.activity_page {
  background: #f0f0f2;
}
.activity_block {
  padding-top: 10px;
}
.activity_block_title .h2 {
  position: relative;
  padding-left: 35px;
  font-size: 16px;
  line-height: 32px;
  color: #484848;
}
.activity_block_title .h2 .i {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -10px;
}
.activity_detail {
  margin: 0 10px;
}
.activity_detail_special,
.activity_detail_intro,
.activity_detail_host,
.activity_detail_time {
  padding: 10px;
  border: 1px solid #CCC;
  background: #FFF;
  font-size: 12px;
  color: #484848;
}
.activity_detail_price .inf,
.activity_detail_notice .inf,
.activity_detail_advice .inf {
  padding: 10px;
  border: 1px solid #CCC;
  background: #FFF;
}
.activity_detail_price .inf + .inf,
.activity_detail_notice .inf + .inf,
.activity_detail_advice .inf + .inf {
  border-top: 0;
}
.activity_detail_price .inf .h4,
.activity_detail_notice .inf .h4,
.activity_detail_advice .inf .h4 {
  font-size: 16px;
  color: #000;
}
.activity_detail_price .inf p,
.activity_detail_notice .inf p,
.activity_detail_advice .inf p {
  font-size: 12px;
  color: #484848;
}
.activity_detail_price .inf .fense,
.activity_detail_notice .inf .fense,
.activity_detail_advice .inf .fense {
  font-size: 16px;
  color: #FFD800;
}
.activity_detail_host {
  padding-left: 80px;
  padding-right: 30px;
  position: relative;
  min-height: 60px;
}
.activity_detail_host .avat {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.activity_detail_host .avat .img {
  border: 1px solid #8B8688;
}
.activity_detail_host .i {
  position: absolute;
  right: 15px;
  top: 50%;
  border-width: 1px 1px 0 0;
}
.activity_detail_host .title {
  font-size: 16px;
  color: #484848;
  margin-top: 10px;
}
.activity_detail_host .desc {
  font-size: 12px;
  color: #868686;
}
.activity_detail_advice .h3 {
  font-size: 16px;
  color: #484848;
}
.activity_detail_advice .inf {
  position: relative;
  padding-left: 80px;
  min-height: 60px;
}
.activity_detail_advice .inf .photo {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
}
.activity_detail_advice .inf .bordered {
  border: 1px solid #484848;
}
.activity_detail_advice .inf + .h3 {
  margin-top: 10px;
}
.activity_detail_rich .pic {
  margin: 10px 0;
}
.activity_detail_rich .text {
  margin: 10px 0;
}
.activity_detail_rich .text p {
  line-height: 24px;
  color: #484848;
  font-size: 15px;
}
.activity_detail_rich .text a {
  color: #003FA8;
}
.activity_detail_rich > :first-child {
  margin-top: 0;
}
.activity_detail_coach_list {
  font-size: 0;
  margin: 0;
  text-align: center;
}
.activity_detail_coach_list .coach {
  float: left;
  margin: 0 1% 10px;
  width: 31%;
  text-align: center;
}
.sign_to_activiey {
  height: 50px;
}
.sign_to_activiey .wrap {
  position: fixed;
  z-index: 99;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #000;
}
.sign_to_activiey .info {
  float: left;
  margin: 14px;
  color: #FFF;
  font-size: 12px;
}
.sign_to_activiey .info .fense {
  font-size: 16px;
  color: #FFD800;
}
.sign_to_activiey .opt {
  float: right;
  margin: 9px 15px;
}
.sign_to_activiey .opt .btn {
  display: block;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  padding: 0 15px;
  background: #0B7900;
  border-radius: 3px;
}
.sign_to_activiey .opt .i {
  margin-right: 3px;
}
/* 05 */
.player_page_brand2 {
  height: 245px;
}
.player_page_brand2 .edit {
  position: absolute;
  z-index: 9;
  top: 10px;
  right: 10px;
}
.player_card2 {
  text-align: center;
  left: 20px;
  right: 20px;
  top: 25px;
  padding: 110px 0 0 0;
}
.player_card2 .avat {
  top: 0;
  left: 50%;
  margin-left: -50px;
}
.player_card2 .avat .img {
  border: 0;
}
.player_card2 .uname {
  font-size: 16px;
  margin-bottom: 5px;
}
.player_card2 .sign {
  font-size: 12px;
  line-height: 1.5;
}
.subject_brand_list_title .h2 {
  height: 49px;
  line-height: 49px;
  font-size: 20px;
  color: #484848;
  text-align: center;
}
.subject_brand_list_title_gray {
  background: #E5E5E5;
}
.dream_list_opts {
  height: 42px;
}
.dream_list_opts .dream_list_opts_wrap {
  text-align: center;
  padding: 5px;
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F3F3F3;
}
.dream_list_opts .opt {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
}
.dream_list_opts .btn {
  display: block;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  color: #000;
  padding: 0 10px;
  border-radius: 3px;
  background: #FFD800;
}
.dream_list_opts .btn .i {
  margin-right: 3px;
}
.dream_list_helpers {
  padding: 5px 15px;
}
.dream_list_helper {
  position: relative;
  margin: 5px 0;
  padding-left: 60px;
  min-height: 50px;
}
.dream_list_helper .avat {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}
.dream_list_helper .avat .img {
  border-radius: 5px;
  overflow: hidden;
}
.dream_list_helper .info {
  font-size: 16px;
  color: #484848;
  padding-top: 5px;
}
.dream_list_helper .desc {
  font-size: 16px;
  color: #484848;
}
.dream_list_helper_total {
  height: 90px;
}
.dream_list_helper_total .dream_list_helper_total_wrap {
  text-align: center;
  padding: 10px;
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  right: 0;
  background: #E5E5E5;
}
.dream_list_helper_total .help_total {
  font-size: 16px;
  color: #484848;
}
.dream_list_helper_total .plus,
.dream_list_helper_total .minus {
  font-size: 20px;
}
.dream_list_helper_total .opts {
  padding-top: 10px;
}
.dream_list_helper_total .opt {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
}
.dream_list_helper_total .btn {
  display: block;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  padding: 0 20px;
  border-radius: 3px;
}
.dream_list_helper_total .btn_help {
  background: #2895DC;
  color: #FFF;
}
.dream_list_helper_total .btn_join {
  background: #FFD800;
  color: #000;
}
/* 06 */
.dream_settings .setting {
  position: relative;
  display: block;
  padding: 10px 20px;
  border-bottom: 1px solid #CCC;
}
.dream_settings .setting .title {
  font-size: 16px;
  color: #484848;
  padding-right: 30px;
  line-height: 30px;
}
.dream_settings .setting .opt {
  position: absolute;
  right: 20px;
  top: 10px;
  height: 30px;
  width: 30px;
  text-align: center;
  background: #E1E1E1;
  border-radius: 3px;
}
.dream_settings .setting .opt .i {
  margin: 0;
}
.dream_settings .setting.active .opt {
  background: #FFD800;
}
.dream_settings .dream_edit {
  padding: 15px;
}
.dream_settings .dream_edit .h3 {
  font-size: 16px;
  color: #484848;
  margin-bottom: 5px;
}
.dream_settings .dream_edit .choice {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px 3px 0;
  font-size: 14px;
  width: 22%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #FFF;
  color: #000;
  border: 1px solid #CCC;
}
.dream_settings .dream_edit .choice.active {
  color: #484848;
  background: #FFD800;
  border-color: #FFD800;
}
.dream_settings .dream_edit .sign_text {
  padding-right: 12px;
}
.dream_settings .dream_edit .sign_text textarea {
  display: block;
  width: 100%;
  height: 80px;
  padding: 5px;
  border: 1px solid #CCC;
  font-size: 14px;
  color: #484848;
  resize: none;
}
.dream_settings .edit_cover_add {
  display: inline-block;
  vertical-align: middle;
  width: 64px;
  height: 64px;
  position: relative;
}
.dream_settings .edit_cover_add .add {
  position: relative;
  height: 62px;
  border: 1px solid #CCC;
  background: #FFF;
}
.dream_settings .edit_cover_add .i {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}
.dream_settings .edit_cover {
  display: inline-block;
  vertical-align: middle;
  width: 64px;
  height: 64px;
  position: relative;
}
.dream_settings .edit_cover .img {
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
}
.dream_settings .edit_cover .delete {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 9;
  background: #000;
  height: 22px;
  width: 22px;
  text-align: center;
}
.dream_settings_tip {
  margin: 10px 0;
  text-align: center;
  font-size: 12px;
  color: #484848;
}
.dream_settings_opts {
  text-align: center;
  padding: 5px;
  background: #FFF;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}
.dream_settings_opts .opt {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
}
.dream_settings_opts .btn {
  display: block;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  color: #000;
  padding: 0 10px;
  border-radius: 3px;
  background: #FFD800;
}
.club_list_slider .slider {
  height: 266px;
}
.club_list_slider .slider_pages {
  position: relative;
  bottom: 0;
}
.club_list_slider .slider_pages i {
  background: #000;
}
/*08*/
.wealth_brand {
  text-align: center;
  background: url('../../i/wealth.jpg') no-repeat center top;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  height: 160px;
  border-bottom: 1px solid #CBC8C5;
}
.wealth_brand .notice {
  font-size: 15px;
  color: #000;
  padding: 40px 0 10px 0;
}
.wealth_brand .total {
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  color: #FFF000;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.wealth_helper_block {
  margin: 0 10px;
  padding: 25px 45px;
}
.wealth_helper_block .h3 {
  position: relative;
  padding-top: 50px;
  text-align: center;
  font-size: 16px;
  color: #000;
}
.wealth_helper_block .h3 .i {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -25px;
}
.wealth_helper_block .cnt {
  font-size: 13px;
  color: #868686;
  margin-top: 5px;
}
.wealth_helper_block + .wealth_helper_block {
  border-top: 1px solid #E2E2E3;
}
